header {
}

header .navbar {
	font-family: 'Open Sans', sans-serif;
}

header .columns {
	border-style: outset
}

header .navbar a {
	color: #5b5699;
	text-transform: uppercase;
	font-size: 20px;
	padding-right: 20px
}

header .navbar li {
	display: inline;
}

header h1 {
	font-family: 'Open Sans', sans-serif;
	padding-left: 40px;
	color: #0b2356;
	font-size: 30px;
}

header .navbar a:hover{
	font-weight: bold;
}

.intro p {
	font-family: 'Open Sans', sans-serif;
	padding-left: 40px;
	font-size: 25px;
}