header .navbar {
	font-family: 'Roboto Slab', sans-serif;
}


header .navbar a {
	color: #5b5699;
	text-transform: uppercase;
	font-size: 20px;
	padding-right: 20px
}

header .navbar li {
	display: inline;
}

header h1 {
	font-family: 'Quicksand', sans-serif;
	padding-left: 20px;
	color: #0b2356;
	font-size: 30px;
	background-color: #D3E3E8;
	text-align: center;
}


header .navbar a:hover{
	background-color: #D3E3E8
}

.intro p {
	font-family: 'Roboto Slab', sans-serif;
	margin-left: 25%;
	margin-right: 25%;
	font-size: 17px;
	text-align: center;
}

