header h1{
	font-family: 'Quicksand', sans-serif;
	font-size: 35px;
	text-align: center;
	background-color: #D3E3E8;
}

.accordion a {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 20px;
	color: #5b5699;
}

.accordion li{
	font-family: 'Roboto Slab', sans-serif;
	font-size: 17px;
}