html body {
	height: 100%
}

header h1{
	font-family: 'Quicksand', sans-serif;
	font-size: 35px;
	background-color: #D3E3E8
}

.project-info .tab-content p {
	color:#5b5699;
	padding-bottom: 100%
}

body a {
	color: #5b5699;
}

.fa-github-square {
	color: #5b5699;
}

.tabs-content #panel1 {
	font-family: 'Roboto Slab', sans-serif;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 17px;
	text-align: center;
	color: #5b5699
}

.tabs-content #panel2 {
	font-family: 'Roboto Slab', sans-serif;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 17px;
	text-align: center;
	color: #5b5699
}
